{% extends 'base.html' %}

{% block body %}
<!--<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
-->
<h1 class="display-1"><br>Any Feedback for us?</h1>
<a href="/blog/new" class="btn btn-success btn-sm mt-5 text-success" role="button">Add Feedback</a>


<!--Card-->
<div class="row my-5 justify-content-center">
    {% if blogs %}
      {% for blog in blogs %}
          <div class="col">
            <div class="card border-success" style="margin: 10px; width: 18rem,">
              
                <br>
              
              <!--<img
                src="..."
                class="card-img-top"
                alt="..."
              />
              -->

                <div class="card-body">
                  <h3>User:</h3>
                  {{blog.author.username}}
                 <br>
                  <h3>Created:</h3>
                  {{moment(blog.create_date).calendar()}}
                  
                  <br>
                  
                  <a href="/blog/{{blog.id}}" class="btn btn-success btn-sm mt-5 text-success" role="button">See Post</a>

                
                
                </div>

            </div>
        </div>
    {% endfor %}
{% else %}
                
{% endif %}
                
{% endblock %}