<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<br>
<h1 class="display-4 text-center"> Our Goal</h1>
<div class="container text-left display-7 text-center">
    <div class="row">
      <div class="col over">
        
      <p style="font-size: 20px; padding: 10px;"> This website goal is to make socializing easier and funner to do with others in person. People need to 
        be more active but have fun while doing so, which is why this site exists. Hangout Zone Locator is our way
        of allowing people to get together in areas and have activites to do in order to address these things and have fun!
        Ty for reading!
      </p>
      </div>
    </div>
  </div>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://www.shutterstock.com/shutterstock/videos/4687664/thumb/1.jpg?ip=x480"
              class="d-block w-100"
              alt="..."
              width="100"
              height="600"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Hanging_Out_in_the_Park_%28Unsplash%29.jpg"
              class="d-block w-100"
              alt="..."
              width="100"
              height="600"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://pbs.twimg.com/media/EXK4VKvXkAAOX4V.jpg:large"
              class="d-block w-100"
              alt="..."
              width="100"
              height="600"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br />
      

      
{% endblock %}