<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %} {% block body %}
<br><h1 class="display-4 text-center">Overview</h1>
<!--<h1 class="display-4 text-center">Overview</h1>-->
<br>
<div class="container">
  <!--First row-->
  
  <div class="row">
  
    <div class="col over">
      
        <p style="padding-top: 10px;">
          &emsp;Ever since the 2000’s, the popularity and usage of social media usage has gone up, resulting in poor mental health as many users develop screen addiction, depression, low self esteem, and lack of self control.
          According to journals in June the 2nd, 2022, 
          “Although this appears to be the first study to examine whether social comparisons mediate the relationship between PSMU and depression, these findings concord with recent research suggesting that upward social comparisons partially mediate the relationship between social media usage and wellbeing (Wang, Wang, Gaskin, & Hawk, 2017) and that negative comparisons fully mediate the relationship between Facebook use and negative self-perceptions around social competence and physical attractiveness (de Vries & Kühne, 2015)...[and] suggest that the tendency towards negative social comparisons may be a key determinant in whether problematic levels of use lead to depression and low self-esteem, as social comparisons may function as a mechanism linking PSMU to negative psychological outcomes.”

  <!--First row-->
  
  

  <!--Second row-->
  <div class="row">
    <div class="col over border">
      <div class="row">
      <h1 class="display-6 text-center" style="background-color: white; color: #8ec454">Our Claim</h1>
    </div>
    <p>
      &emsp;The most effective way to break users from social media exposure is making them aware of the problem and offering a solution that allows them to detox themselves.
      The reason why it's hard to break from social media is because of the way it’s set up to attract and keep people on it as long as possible. Therefore, by breaking this cycle/addiction, they can realize that they don’t need to rely on it and reduce the mental impact it has on them. 
    </p>
    </div> 

    

    <div class="col over border">
      <div class="row">
        <h1 class="display-6 text-center" style="background-color: white; color: #8ec454">Our Source of Inspiration</h1>
      </div>
    <p>
      &emsp;Offtime is an app that is able to help create your disconnect from your phone by blocking calls, messages and notifications for a selected time. Access to distracting apps can also be restricted if needed, as well as allowing the user to set up exceptions for important people and personal notification. 
      The application has received a lot of positive feedback on how effective it’s been and how simple it is to use. Furthermore, the maker of the application’s main goal with the app is to be able to “allow [users] to focus on what’s really important and find the balance between technology and [their] life."(Offtime)
    </p>
    </div>
  </div>
  
  <!--Third row-->
  <div class="row">
    <div class="col over border">
      <div class="row">
        <h1 class="display-6 text-center" style="background-color: white; color: #8ec454">The big idea</h1>
      </div>
    <p>
      &emsp;For my project, I will be designing an app that will limit screen time progressively in order to allow people to detox from their phones and social media while being able to adjust and find a balance between it as well. 
      By allowing the user to gradually break away from the phone would allow them to gain self control and maintain a balance between them and their phone. Furthermore, if an app was created to lock them out only, then it would not be popular or appealing in a modern society as technology is used everywhere and trying to find a balance between technology and mental health should be the main goal of this application.  
    </p>
    </div>

    

    <div class="col over border">
      <div class="row">
        <h1 class="display-6 text-center" style="background-color: white; color:#8ec454">About the Author</h1>
      </div>
    <p>
      &emsp; From first being introduced to coding to middle school, to now ending up here, the maker of this site has been
    trying to get out of the coding since 2023-24. He feels like he hasn't learned much, or so he though until now looking at the site that has
  has been built. Maybe coding isn't so bad after all. One thing is for certain: he will never forget the hardship, pain, beauty, and experience 
brought to him finishing and completeing this site. - E.B </p>
His famous quote: <i>"Me is me and you is you :)"</i>
    </div>

    <!--<div class="col over">
      
    </div>-->
  </div>
</div>


{% endblock %}
